nav {
    width: 960px;
    margin: 0 auto;
    font-size: 10px;
}

ul {
    list-style: none;
    line-height: 40px;
}

li {
    display: inline;
    margin: 0px 10px 0px 10px;
}

a:link {
    text-decoration: none;
    color: #FFFFFF ;
    padding: 12px 6px 12px 6px;
}

a:visited {
    text-decoration: none;
    color: #FFFFFF ;
    padding: 12px 6px 12px 6px;
}

a:hover {
    text-decoration: none;
    color: #000000 ;
    background-color: #C1C1C1 ;
    padding: 12px 6px 12px 6px;
}

a:active {
    text-decoration: none;
    color: #000000 ;
    background-color: #C1C1C1 ;
    padding: 12px 6px 12px 6px;
}

body{
    background-color: grey;
    font-family: helvetica arial sans-serif;
}

h1,p{
    color:white;    
}

#bgcolor{
    background-colour:yellow;
}

.content{
    width:60%;
    border:1px solid white;
    margin:0 auto;
    padding:10px;
}

.col1of3, .col2of3, .col3of3 {
    width: 20%;
    padding-left:8px;
    padding-right:8px;
    float: left;
    margin: 0px auto;
}

.monday{
    margin: 0 auto;
}
